.markdownBody /deep/ * {
  font-family: "Fira Code", sans-serif;
}

.markdownBody, .markdownBody /deep/ .tui-editor-contents {
  font-size: 16px;
}

.markdownBody /deep/ h1,
.markdownBody /deep/ h2,
.markdownBody /deep/ h3,
.markdownBody /deep/ h4,
.markdownBody /deep/ h5,
.markdownBody /deep/ h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.markdownBody /deep/ h1 {
  font-size: 2em;
}

.markdownBody /deep/ h2 {
  font-size: 1.5em;
}

.markdownBody /deep/ h3 {
  font-size: 1.25em;
}

.markdownBody /deep/ h4 {
  font-size: 1em;
}

.markdownBody /deep/ h5 {
  font-size: 0.875em;
}

.markdownBody /deep/ h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdownBody /deep/ h1,
.markdownBody /deep/ h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdownBody /deep/ pre, .markdownBody /deep/ code {
  border-radius: 3px;
}
